/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
}

button, input, select, textarea {
  appearance: none;
  font-family : inherit;
}

body{
  --bkg-color: #F8F8FB;
  --bkg-shadow: 0px 10px 20px #48549f40;
  --checkbox-bkg: #DFE3FA;
  --color: #0C0E16;
  --dropdown-bkg: #FFFFFF;
  --focus-outline: 1px solid #9277FF;
  --header-bkg: #373B53;
  --home-invoice-bkg: #FFFFFF;
  --home-invoices: #888EB0;
  --input-outline: 1px solid #DFE3FA;
  --invoice-date: #7E88C3;
  --invoice-name: #858BB2;
  --new-invoice-bkg: #FFFFFF;
  --new-invoice-label: #7E88C3;
  --new-item-btn: #F9FAFE;
}

body.dark-mode{
  --bkg-color: #141625;
  --bkg-shadow: 0px 10px 20px #00000040;
  --color: #FFFFFF;
  --checkbox-bkg: #1E2139;
  --dropdown-bkg: #252945;
  --focus-outline: 1px solid #252945;
  --header-bkg: #1E2139;
  --home-invoice-bkg: #1E2139;
  --home-invoices: #DFE3FA;
  --input-outline: 1px solid #252945;
  --invoice-date: #DFE3FA;
  --invoice-name: #FFFFFF;
  --new-invoice-bkg: #141625;
  --new-invoice-label: #888EB0;
  --new-item-btn: #252945;
}

body{
  background-color: var(--bkg-color);
  font-family: 'League Spartan', sans-serif;
}

body *{
  color: var(--color);
}

button:hover{
  cursor: pointer;
}

input{
  background-color: var(--home-invoice-bkg);
  border-radius: 0.25rem;
  box-sizing: border-box;
  font-weight: 700;
  outline: var(--input-outline);
  padding: 1.125rem 1rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input:focus{
  caret-color: #7C5DFA;
  outline: var(--focus-outline);
}

label{
  user-select: none;
}

legend{
  color: #7C5DFA;
}

.back-link::before{
  content: '';
  display: inline-flex;
  background-image: url('../assets/icon-arrow-left.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 0.625rem;
  margin-right: 1.5rem;
  width: 0.4375rem;
}

.bold{
  font-weight: 700;
}

.create-btn{
  align-items: center;
  border-radius: 1.5rem;
  display: flex;
  height: 2.75rem;
  width: 5.625rem;
}

.create-btn > div{
  background-color: #FFFFFF;
  background-image: url('../assets/icon-plus.svg');
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  display: inline-flex;
  height: 2rem;
  margin: 0 0.5rem 0 0.375rem;
  width: 2rem;
}

.create-btn > p{
  color: #FFFFFF;
}

.dropdown-container{
  align-items: center;
  position: relative;
}

.dropdown-container > input[type="checkbox"]:not(:checked) ~ .dropdown-list{
  display: none;
}

.dropdown-container > input[type="checkbox"]:checked ~ .dropdown-list{
  display: flex;
  position: absolute;
}

.dropdown-list{
  list-style-type: none;
}

.font-32-36{
  font-size: 2rem;
  line-height: 2.25rem;
  word-spacing: -0.0625rem;
}

.font-20-22{
  font-size: 1.25rem;
  line-height: 1.375rem;
  word-spacing: -0.0394rem;
}

.font-16-24{
  font-size: 1rem;
  line-height: 1.5rem;
  word-spacing: -0.5rem;
}

.font-12-15{
  font-size: 0.75rem;
  line-height: 0.9375rem;
  word-spacing: -0.0156rem;
}

.font-11-18{
  font-size: 0.6875rem;
  line-height: 1.125rem;
  word-spacing: -0.0144rem;
}

.medium{
  font-weight: 500;
}

.purple{
  background-color: #7C5DFA;
}

.status-container{
  align-items: center;
  border-radius: 0.375rem;
  display: inline-flex;
  justify-content: center;
}

.status-container.paid{
  background-color: #33D69F0F;
  color: #33D69F;
}

.status-container.paid > .invoice-status::before{
  background-color: #33D69F;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 0.5rem;
  margin-right: 0.5rem;
  width: 0.5rem;
}

.status-container.pending{
  background-color: #FF8F000F;
  color: #FF8F00;
}

.status-container.pending > .invoice-status::before{
  background-color: #FF8F00;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 0.5rem;
  margin-right: 0.5rem;
  width: 0.5rem;
}

.status-container.draft{
  background-color: #373B530F;
  color: #373B53;
}

.status-container.draft > .invoice-status::before{
  background-color: #373B53;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 0.5rem;
  margin-right: 0.5rem;
  width: 0.5rem;
}