/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

*{
  margin: 0;
  padding: 0;
}

/*button, input, select, textarea {
  appearance: none;
  font-family : inherit;
}*/

body{
  --bkg-color: #F8F8FB;
  --color: #0C0E16;
  --header-bkg: #373B53;
}

body.dark-mode{
  --bkg-color: #141625;
  --color: #FFFFFF;
  --header-bkg: #1E2139;
}

body{
  background-color: var(--bkg-color);
  font-family: 'League Spartan', sans-serif;
}

body *{
  color: var(--color);
}